body {
    font-size: 1.25em;
    /*font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    /*background: #232323;*/
    font-family: 'Roboto', sans-serif;
    background:#F3F3F4;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    background:#fff;
   /*outline: 1px solid red;*/
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    text-transform:capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight:normal 400;
    color:#676A6C;
    /*outline: 1px solid green;*/
    /*font-size: 2.5em;
    font-weight: 100;*/
}
input:focus{
    outline:none;
    border-color: #1AB394 !important;
}
textarea:disabled {
    background: #dddddd;
}
input[type="text"]{
    
    /*margin-top:0px;*/
    border: 1px solid #E5E6E7;
}
input[type="date"] {
    border: 1px solid #E5E6E7;
}

input[type="number"] {
    border: 1px solid #E5E6E7;
}
#purchase textarea{
    /*font-size:1.5em;*/
    font-family: 'Roboto', sans-serif;
    border:1px solid #E5E6E7;
    background-color:transparent;
    margin-top:3%;
    /*border: 1px solid #000;*/
   min-height: 75px;
      width:50%;
}
#purchase textarea:focus{
    outline:none;
    border-color:#1AB394;
}
.editor-label {
    font-family: 'Roboto', sans-serif;
   /*// font-size:1.5em;
   // outline: 1px solid orange;
    //margin: 2em 0 0 0;*/
    margin-top:3em;
}
.editor-label label{
    font-family: 'Roboto', sans-serif;
    font-weight:normal 400;
    margin-bottom:0px;
    font-size:1.5em;
    color:#787B7D;
}
.editor-field {
    /*//outline: 1px solid blue;*/
    margin: 0 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ED5565;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ED5565;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ED5565;
}
span{
    color:#ED5565;
    vertical-align:top;
    font-size:1em;
}
.validation-summary-valid {
    display: none;
}
/* Styles for side navigation bar
-----------------------------------------------------------*/
.col2{
    padding-left:10px !important;
    padding-right:10px !important;
    width:155px !important;
}
#col1{
    width:75px !important;
}
.navbar-brand>a{
    color:#fff;
}
.nav-pills{
    margin-top:1%;
    margin-bottom:1%;
    /*//background:#1AB394 !important;*/
}
.nav-pills>li>a{
    color:#fff !important;
}
.nav-pills>li>a:hover{
    color:#000 !important;
}
.nav-pills>li.active>a{
    background-color:#1AB394 !important;
}
#name{
    background-color:#F3F3F4;
    text-align:center;
    color:#99999B;
}
#name h2{
    margin-top:0 !important;
    margin-bottom:0 !important;
    /*margin-bottom:0px !important;*/
}
#company-name{
    color:#fff;
    font-size:2em;
    text-align:center;
}
#company-name:hover{
    background-color:none !important;
}
#side-navigation{
    padding:0 !important;
}
.navbar-default{
   border:0;
}
.navbar{
    background-image:none !important;
   background-color:#2F4050 !important;
}
.navbar-nav>li{
    float:none !important;
    width:250%;
    /*background:red;*/
}
.navbar-nav>li:hover{
    background-color:#1AB394;
}
.navbar-nav>li>a{
    color:#fff !important;
    font-size:1.5em;
}
.navbar-nav>li>a:hover{
    color:#fff !important;
}
/*.sidebar-nav{
    height:auto;
}*/
/* Styles for  item, purchase, vendor body
-----------------------------------------------------------*/
#body{
    padding-left:0 !important;
}

.po{
    color:#1AB394;    
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}
#item{
    margin-top:5%;
}

.btn-primary{
    border:0;
    background:#1AB394 !important;
    color:#fff;
}

#addItem>.fa{
    color:#fff;
}

.bg{
    background:#2F4050 !important;
}
/* Styles for item detail
-----------------------------------------------------------*/
#detail label{
    font-family:'Roboto',sans-serif;
    color:#232323;
    font-size:2em;
}
.itemid{
    font-family:'Roboto',sans-serif;
    font-weight:700;
    color:#ED5565;
    font-size:2em;
}
/* Styles for home page
-----------------------------------------------------------*/

.page-header{

    border-bottom: 2px solid #ED5565;
}

.page-header>h1{
    text-align: center;
    color:#1AB394;
}

.left{
    border-right:2px dotted #ED5565;
}
.box1{
    padding:1%;
    height:100px;
     background-color:#fff;
    margin-top:5%;
    margin-bottom:5%;
}
.fa{
    padding-top:10%;
    color:#1AB394;
}

.para{
    font-family:'Roboto',sans-serif;
   
   color:#232323;
}
h4>a{
    font-size:1.5em;
    margin-top:1%;
    color:#ED5565;
    font-family:'Roboto',sans-serif;
    /*margin-top:0px !important;*/   
}

h4>a:hover{

    color: #D00B20;
    text-decoration: none;
}

.sb{
      margin-top:15% !important;
      margin-bottom:50%;
}
.design{
    color:#1AB394;
  
}

.row h2{
    color: #3298d4;
    font-weight: bold;
}

#production{

    background: #e7f1f0;
    font-size: 16px;
}

.heading{
    text-align: center;
    box-shadow: 5px 5px 2px #8bc1dc;
}

.marginTop{
    margin-top: 15px;  
}

#customerCol{
    text-align: center;
    background-color: #293e51;
    padding: 20px;
    margin: 0 10px;
}

#customerCol label, #timeCol label{
    color: white;
    text-align: left;
}

.note{
    background-color: #e6604f;
    padding: 5px;
    color: white;
    margin-left: 1px;
    margin-right: 1px;
}

.note textarea{
    width: 100%;
    background-color:transparent;
    border:1px solid #E5E6E7;
}

#timeCol{
    text-align: center;
    background-color: #3498d4;
    margin: 0 10px;
    padding: 20px;
}

#pm{
    background-color: #2a82b5;
    color: white;
}

#pm h2{
    text-align: center;
    background-color: #e7f0f1;
    padding: 10px;
    color: #e64d3b;
}

#materials table>thead>tr>th, #materials table>tbody>tr>td{
    border: none;
}

#pallets{
    border-right: 2px solid white;
}

.boderBottom{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}
